# LAN (caravan router). Remote: Tailscale URL (same token).
HA_URL=http://192.168.50.10:8123
HA_URL_REMOTE=http://100.x.x.x:8123
HA_TOKEN=your_long_lived_access_token_here

MQTT_HOST=192.168.50.10
MQTT_HOST_REMOTE=100.x.x.x
MQTT_PORT=1883
MQTT_USER=mqtt
MQTT_PASS=your_mqtt_password_here

SSH_PASS=your_ssh_password_here

RELAY_IP=192.168.50.20
RELAY_PORT=4196
